<div class="container">
    <form>
        <input type="text" id="title">
        <label for="title">Title</label>
        <input type="text" id="note">
        <label for="note">Note</label>
        <submit class="btn btn-success" type="submit">Add Note</submit>
    </form>
</div>